<h1>Profile</h1>
<!-- <custom-input
        class="w-full"
        label="Nombre"
        type="text"
        [control]="form.controls.name"
      />
      <custom-select
        class="w-full"
        label="Seleccione una opción"
        [control]="form.controls.tipo_user"
        [options]="[
          { label: 'Juridica', value: 'Juridica' },
          { label: 'Natural', value: 'Natural' }
        ]"
      />

      <custom-select
        class="w-full"
        label="Seleccione la Unidad al que pertenece"
        [control]="form.controls.idUnidad"
        [options]="[
          { label: 'unidad 1', value: '1' },
          { label: 'unidad 1', value: '2' }
        ]"
      />

      <custom-input
        class="w-full"
        label="Email"
        type="text"
        [control]="form.controls.email"
      /><custom-input
        class="w-full"
        label="Contraseña"
        type="password"
        [control]="form.controls.password"
      /> -->
